<div>
    <div class="x-w-full x-h-full x-border x-rounded-[8px] x-flex x-flex-col x-justify-between x-bg-white">
        <div class="x-flex x-flex-col x-gap-[8px] x-p-[12px] md:x-py-[24px] x-text-center">
            <a href="{{ product.url }}">
                <h1 class="x-text-[16px] md:x-text-[24px] x-flex-1 x-flex x-justify-center x-items-center md:x-px-[12px]">{{ product.title }}</h1>
            </a>
            <p class="x-text-[12px] md:x-text-[16px]">{{ product.metafields.custom.cta.value }}</p>
        </div>
        <a href="{{ product.url }}" class="x-w-full x-p-[4px]">
            <img class="x-object-contain x-w-full x-h-full" src="{{ product.featured_image |  image_url: width: 400 }}" alt="{{ product.featured_image.alt }} width="100%" height="100%">
        </a>
        {% if product.metafields.product.types.value.first != "Default" %}
            <div class="x-p-[12px] md:x-px-[16px] x-w-[80%] x-mx-auto md:x-py-[24px] x-text-[12px] md:x-text-[14px] x-grid x-grid-cols-2 x-gap-x-[8px] x-gap-y-[4px]">
                {% for type in product.metafields.product.types.value %}
                    <a href="{{ product.url }}" class="x-text-[#86120e] hover:x-underline">{{ type }}</a>
                {% endfor %}
            </div>
        {% else %}
            <div>
                &nbsp;
            </div>
        {% endif %}
    </div>
</div>