<div class="x-mx-auto">
  <div class="x-w-full x-h-[50px] x-bg-[#951828] x-flex x-justify-center x-items-center">
    <div class="x-text-[20px] x-text-[#fff] x-text-center">Keep Customers Sleeping Happy</div>
  </div>
</div>

<div class="x-px-[24px]">
  <div class="x-shadow-[0_1px_7px_rgba(0,0,0,0.5)] x-px-[12px]">
    <div class="banner-bg x-mx-auto">
      <div class="x-w-full x-h-auto x-flex x-flex-col x-justify-center x-items-center x-py-[20px]">
        <img src="{{ 'weare.png' | asset_url }}" alt="we serve" class="x-w-auto x-h-auto" width="70" height="400">
      </div>
    </div>
    
    <div class="x-mx-auto">
      <div class="x-w-full x-h-auto x-flex x-justify-center x-items-center">
        <div class="x-text-[24px] x-text-black x-text-center">GLOBAL SUPPLIERS OF LOCAL SERVICE</div>
      </div>
    </div>
    
    <div class="x-mx-auto">
      <div class="x-w-full x-h-auto x-flex x-justify-center x-items-center">
        <div class="x-text-[16px] x-text-black x-text-center">YOUR PERSONAL LINEN PARTNER, CUT FROM A DIFFERENT CLOTH</div>
      </div>
    </div>
    
    <div class="banner-bg x-mx-auto">
      <div class="x-w-full x-h-auto x-flex x-flex-col x-justify-center x-items-center x-py-[20px]">
        <img src="{{ 'pillow2.jpg' | asset_url }}" alt="pillow" class="x-w-[890px] x-h-[273px]" width="273" height="890">
      </div>
    </div>
    
    <div class="x-mx-auto">
      <div class="x-w-full x-h-auto x-flex x-justify-center x-items-center">
        <div class="x-text-[25px] x-text-black x-text-center x-mb-3">MAKING YOUR NIGHT SINCE 1999</div>
      </div>
      <div class="x-max-w-[400px] x-mx-auto x-mb-10 x-text-[14px] x-text-justify">
        KSE Suppliers is a commercial linen and textiles supplier based in Hillburn, New York. As a procurement partner to
        hospitality, healthcare and institutional buyers, we source the finest reusable sheets, towels and more from
        reputable and upcoming manufacturers. We remain dedicated to market and material research that helps us bring you
        super-high-value products. Everything we offer is in stock and ready for drop shipping to any location in the world.
        As a true partner, we even affix your name onto the packing slip.
      </div>
    </div>
    
    <div class="x-text-center">
      <div class="x-text-[21px] x-text-black x-text-center">KSE CORE VALUES</div>
    </div>

    <div class="x-pt-5 x-w-full">
      <div class="x-flex x-flex-col md:x-flex-row x-justify-center x-gap-10 x-mx-auto">
        <div class="banner-bg">
          <div class="x-flex x-justify-center x-items-center x-w-full x-h-[100px]">
            <div class="x-w-[50px] x-h-auto x-flex x-justify-center x-items-center x-mx-auto">
              <img src="{{ 'acon1.png' | asset_url }}" alt="we serve" class="" width="100%" height="100%">
            </div>
          </div>
          <div class="x-text-4xl x-mb-3 x-text-center x-text-[#951828]">PARTNERSHIP</div>
          <div class="x-max-w-[300px] x-mx-auto x-text-justify">
            A good supplier helps you rest easy, so we serve as an extension of your team to carry the full weight of the
            sourcing process
          </div>
        </div>
      
        <div class="banner-bg">
          <div class="x-flex x-justify-center x-items-center x-w-full x-h-[100px]">
            <div class="x-w-[50px] x-h-auto x-flex x-justify-center x-items-center x-mx-auto">
              <img src="{{ 'acon2.png' | asset_url }}" alt="we serve" class="" width="100%" height="100%">
            </div>
          </div>
          <div class="x-text-4xl x-mb-3 x-text-center x-text-[#951828]">VALUE</div>
          <div class="x-max-w-[300px] x-mx-auto x-text-justify">
            Just as important as saving you money is saving you time and man-hours with quality that lasts. That’s why we strive for both
          </div>
        </div>
      
        <div class="banner-bg">
          <div class="x-flex x-justify-center x-items-center x-w-full x-h-[100px]">
            <div class="x-w-[50px] x-h-auto x-flex x-justify-center x-items-center x-mx-auto">
              <img src="{{ 'acon4.png' | asset_url }}" alt="we serve" class="" width="100%" height="100%">
            </div>
          </div>
          <div class="x-text-4xl x-mb-3 x-text-center x-text-[#951828]">HAPPINESS</div>
          <div class="x-max-w-[300px] x-mx-auto x-text-justify">
            When we care, you feel it. And when you care, they feel it. We are proud that the cycle of satisfaction starts at KSE
          </div>
        </div>
      </div>

    </div>
    
    
    <div class="x-mb-5 ">
      <hr style="border: 1px solid #a65458;">
    </div>
    
    <div class="x-w-full x-h-auto x-flex x-justify-center x-items-center x-mx-auto">
      <div class="x-text-[25px] x-text-black x-text-center x-mb-3">ECONOMICAL GOODS GONE GLOBAL</div>
    </div>
    <div class="x-mx-auto x-text-justify">
      With strong ties all around the world, we save and serve no matter your needs. Our team maintains long-term
      relationships with global manufacturers, performing in-depth research to ensure quality materials at unbeatable value.
      Now that’s hospitality.
    </div>
    
    <div class="banner-bg">
      <div class="x-w-full x-h-auto x-flex x-flex-col x-justify-center x-items-center x-py-[20px]">
        <img
          src="{{ 'about-img.jpg' | asset_url }}"
          alt="we serve"
          class="x-w-[400px] x-h-[450px]"
          width="965"
          height="737"
        >
      </div>
    </div>
  
    <div class="banner-bg">
      <button class="x-bg-[#9e0b0f] x-text-white x-h-[50px] x-w-[200px] x-text-[16px] x-rounded-[4px]">
        BROWSE PRODUCTS
      </button>
    </div>
  </div>
</div>


