{% for block in section.blocks %}
  {% case block.type %}
    {% when 'hero_banner' %}

      <section>
        <div class="x-bg-kse x-border-t-[2px] x-border-white">
          <div class="x-flex x-flex-col md:x-flex-row md:x-pb-[50px] x-max-w-[1400px] lg:x-mx-auto">
            <div
              class="x-text-white x-p-[30px] lg:x-py-[40px] lg:x-pt-[76px] lg:x-px-[80px] lg:x-pr-[128px] x-pb-[0px] md:x-w-[50%] lg:x-w-[60%]">
              <h2 class="x-text-[18px] x-uppercase x-font-bold x-leading-[1.7] x-mb-[10px] x-text-white">
                About Us
              </h2>
              <h1
                class="x-text-[36px] md:x-text-[46px] x-leading-[42px] md:x-leading-[50px] x-font-bold x-mb-[10px] x-text-white">
                We make healthcare run better
              </h1>
              <p class="x-text-[20px] md:x-text-[24px] x-leading-[normal] md:x-leading-[30px] x-mb-[20px]">
                We are the largest provider of medical-surgical products and supply chain solutions serving all
                points of care.
              </p>
              <div>
                <a
                  class="x-bg-[#ff991f] x-text-kse x-p-[12px] x-px-[24px] x-inline-flex x-rounded-[25px] x-gap-[10px] x-items-center">
                  <p class="x-text-[14px] x-leading-[16px]">
                    Play a video from our leaders
                  </p>
                  <i class='bx bxs-right-arrow x-leading-[0px]'></i>
                </a>
              </div>
            </div>
            <div class="x-pl-[30px] x-pt-[20px] md:x-p-[0px] md:x-w-[50%] lg:x-w-[50%]">
              <img class="md:x-hidden" src="{{ 'about_us_mobile_banner_updated.webp' | asset_url }}" alt="">
              <img class="x-hidden md:x-block" src="{{ 'about_us_desktop_banner-e1722329807948.webp' | asset_url }}" alt="">
            </div>
          </div>
        </div>
      </section>

    {% when 'cta_button' %}

      <section>
        <div>
          <div class="x-bg-[#c2172e]">
            <a href="{{ block.settings.button_url }}"
              class="x-w-full x-max-w-[1400px] lg:x-mx-auto x-flex x-items-center x-gap-[16px] x-text-white x-p-[24px] x-px-[30px] md:x-py-[20px] md:x-px-[70px] lg:x-px-[80px]">
              <h1 class="x-text-[30px] x-font-bold x-leading-[1.2] x-tracking-[-1px] x-w-[278px] md:x-w-auto x-text-white">
                {{ block.settings.button_text }}
              </h1>
              <i class='bx bxs-right-arrow-circle x-text-[56px]'></i>
            </a>
          </div>
        </div>
      </section>

    {% when 'challenges' %}

      <section>
        <div>
          <div class="x-max-w-[1400px] lg:x-mx-auto x-flex x-flex-col x-p-[30px] md:x-p-[70px] lg:x-p-[80px]">
            <h2 class="x-mb-[10px] x-text-[14px] md:x-text-[18px] lg:x-text-[18px] x-leading-[24px] x-font-bold x-text-black">
              CURRENT
              CHALLENGES</h2>
            <h1
              class="x-mb-[10px] x-text-[28px] x-leading-[33px] md:x-text-[40px] md:x-leading-normal x-font-bold x-text-black x-tracking-[-1px]">
              Healthcare providers are facing a crisis of complexity
            </h1>
            <div>
              <p class="x-leading-[24px] x-mb-[10px]">
                Macro trends in U.S. healthcare are creating a strained operational burden on providers. Growing demand for
                services by a rapidly aging population and a high rate of chronic disease is increasing the complexity of the
                industry, with consolidation and shifting sites of care, cost pressures and logistical complications driving
                inefficiencies.
              </p>
              <p class="x-leading-[24px]">
                Providers are responding to these challenges by demanding solutions that simplify the complex, and partnering
                with vendors that provide them with the products they need, delivered quickly, reliably and efficiently
                through an expertly managed supply chain.
              </p>
            </div>
          </div>
        </div>
      </section>

    {% when 'solutions' %}

      <section>
        <div class="x-text-white x-bg-kse">
          <div
            class="x-max-w-[1400px] lg:x-mx-auto x-flex x-flex-col x-gap-[40px] lg:x-gap-[20px] x-p-[30px] md:x-p-[70px] lg:x-p-[80px]">
            <div class="x-flex x-flex-col">
              <h2
                class="x-mb-[10px] x-text-[14px] md:x-text-[18px] lg:x-text-[18px] x-leading-[24px] x-font-bold x-text-white">
                OUR SOLUTION
              </h2>
              <h1
                class="x-mb-[10px] x-text-[28px] x-leading-[33px] md:x-text-[40px] md:x-leading-normal x-font-bold x-tracking-[-1px] x-text-white">
                We focus on solving problems across the continuum of care
              </h1>
              <div>
                <p class="x-leading-[24px]">
                  Our vertically integrated business model is designed to deliver the best total value to our customers
                  through
                  a comprehensive set of world-class products, a resilient and highly efficient supply chain, and
                  differentiated
                  clinical solutions. Our ability to provide significant savings on our products and services, and serve
                  across
                  the entire continuum of care, aligns us with the evolving needs of our customers.
                </p>
              </div>
            </div>
            <img class="x-hidden lg:x-block" src="{{ 'our_solutions_container_image.svg' | asset_url }}" alt="">
            <div class="x-grid x-grid-cols-1 md:x-grid-cols-2 lg:x-grid-cols-3 x-gap-y-[20px] x-gap-x-[36px]">
              <div class="x-text-center">
                <img class="x-mx-auto lg:x-hidden" src="{{ 'world_class_products_image.svg' | asset_url }}" alt="">
                <h1
                  class="x-my-[10px] x-mt-[20px] x-text-[26px] md:x-text-[30px] x-text-[#f0a5af] x-leading-[28px] md:x-leading-normal x-font-bold x-tracking-[-1px]">
                  World-class products</h1>
                <p class="x-leading-[24px]">As the largest vertically integrated medical-surgical manufacturer and
                  distributor, we offer a broad
                  portfolio of products globally across all points of care.</p>
              </div>
              <div class="x-text-center">
                <img class="x-mx-auto lg:x-hidden" src="{{ 'supply_chain_resillience_image.svg' | asset_url }}" alt="">
                <h1
                  class="x-my-[10px] x-mt-[20px] x-text-[26px] md:x-text-[30px] x-text-[#f0a5af] x-leading-[28px] md:x-leading-normal x-font-bold x-tracking-[-1px]">
                  Supply chain resilience</h1>
                <p class="x-leading-[24px]">Our end-to-end supply chain expertise allows us to provide additional service
                  offerings to optimize your supply chain and inventory workflows.</p>
              </div>
              <div class="x-text-center">
                <img class="x-mx-auto lg:x-hidden" src="{{ 'clinical_practice_image.svg' | asset_url }}" alt="">
                <h1
                  class="x-my-[10px] x-mt-[20px] x-text-[26px] md:x-text-[30px] x-text-[#f0a5af] x-leading-[28px] md:x-leading-normal x-font-bold x-tracking-[-1px]">
                  Clinical solutions</h1>
                <p class="x-leading-[24px]">Our clinical solutions empower frontline teams with best practice guidance,
                  education and training, and a system of products to help improve clinical outcomes.</p>
              </div>
            </div>
          </div>
        </div>
      </section>

    {% when 'difference' %}

      <section>
        <div>
          <div
            class="x-max-w-[1400px] lg:x-mx-auto x-flex x-flex-col x-gap-[40px] lg:x-gap-[20px] x-p-[30px] md:x-p-[70px] md:x-pb-[0px] lg:x-p-[80px]">
            <div class="x-flex x-flex-col md:x-flex-col-reverse lg:x-flex-row-reverse">
              <div class="lg:x-w-1/2 md:x-mx-auto">
                <img src="https://www.medline.com/wp-content/uploads/2024/12/About_Us_Supply_chain_network.webp" alt="">
              </div>
              <div class="lg:x-w-1/2 lg:x-flex x-flex-col x-justify-center lg:x-py-[80px] lg:x-pr-[80px]">
                <h2
                  class="x-mb-[10px] x-text-[14px] md:x-text-[18px] lg:x-text-[18px] x-leading-[24px] x-font-bold x-text-black x-uppercase">
                  what makes us different
                </h2>
                <h1
                  class="x-mb-[10px] x-text-[28px] x-leading-[33px] md:x-text-[40px] md:x-leading-normal x-font-bold x-tracking-[-1px] x-text-black">
                  Our integrated manufacturing and supply chain solution sets us apart
                </h1>
              </div>
            </div>
          </div>
        </div>
      </section>

    {% when 'integration' %}

      <section>
        <div class="x-bg-[#f4f5f7]">
          <div
            class="x-max-w-[1400px] lg:x-mx-auto x-flex x-flex-col x-gap-[40px] lg:x-gap-[20px] x-p-[30px] md:x-p-[70px] lg:x-p-[80px]">
            <div class="x-flex x-flex-col x-gap-[40px] md:x-gap-[20px]">
              <div>
                <h2
                  class="x-mb-[10px] x-text-[14px] md:x-text-[18px] lg:x-text-[18px] x-leading-[24px] x-font-bold x-text-black x-uppercase">
                  how our integrated solution works
                </h2>
                <h1
                  class="x-mb-[10px] x-text-[28px] x-leading-[33px] md:x-text-[40px] md:x-leading-normal x-font-bold x-tracking-[-1px] x-text-black">
                  Products and supply chain performance you can depend on
                </h1>
                <div>
                  <p class="x-leading-[24px]">
                    We know that offering a broad portfolio of products and getting them to our customers when and where they
                    need them is critical to their success. We own every step of the product journey, so our Medline brand
                    products are delivered with the support of our resilient <a class="x-text-kse x-font-semibold">supply
                      chain network</a>, to simplify the complexity of
                    healthcare with products and performance you can depend on.
                  </p>
                </div>
              </div>
              <div class="x-grid x-grid-cols-1 md:x-grid-cols-2 x-gap-y-[20px] md:x-gap-x-[40px]">
                <div>
                  <img src="https://www.medline.com/wp-content/uploads/2024/12/medline-brand.webp" alt="">
                  <h1
                    class="x-my-[10px] x-text-[26px] md:x-text-[30px] x-text-kse x-leading-normal x-font-bold x-tracking-[-1px]">
                    Medline Brand</h1>
                  <p>
                    We offer the broadest product portfolio in healthcare, with more than 190,000 Medline Brand products
                    across Surgical Solutions, Front Line Care and Laboratory & Diagnostics.
                  </p>
                </div>
                <div>
                  <img src="https://www.medline.com/wp-content/uploads/2024/12/supply-chain-solutions.webp" alt="">
                  <h1
                    class="x-my-[10px] x-text-[26px] md:x-text-[30px] x-text-kse x-leading-normal x-font-bold x-tracking-[-1px]">
                    Supply Chain Solutions</h1>
                  <p>
                    We help optimize your supply chain at every point of care with market-leading infrastructure, products,
                    people and tools that make managing your network easier.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    {% when 'culture' %}

      <section>
        <div class="x-max-w-[1400px] lg:x-mx-auto">
          <div class="x-flex x-flex-col lg:x-flex-row lg:x-h-[541px]">
            <div class="x-w-full x-h-[314px] md:x-h-[732px] lg:x-h-full x-bg-cover x-bg-center lg:x-w-1/2"
              style="background-image: url(https://www.medline.com/wp-content/uploads/2024/12/people-culture.webp);">
              &nbsp;
            </div>
            <div class="x-p-[30px] md:x-p-[70px] lg:x-p-[80px] lg:x-w-1/2">
              <h2
                class="x-mb-[10px] x-text-[14px] md:x-text-[18px] lg:x-text-[18px] x-leading-[24px] x-font-bold x-text-black x-uppercase">
                people and culture
              </h2>
              <h1
                class="x-mb-[10px] x-text-[28px] x-leading-[33px] md:x-text-[40px] md:x-leading-normal x-font-bold x-tracking-[-1px] x-text-black">
                Our culture drives our success
              </h1>
              <div>
                <p class="x-leading-[24px]">
                  We&apos;re motivated by a core set of values established by our founders more than 50 years ago.
                </p>
                <ul class="culture-list x-mt-[16px] x-pl-[20px] md:x-pl-[50px] lg:x-pl-[28px] x-list-disc">
                  <li>We have a relentless customer focus</li>
                  <li>We demonstrate agility and flexibility</li>
                  <li>We are gritty problem solvers</li>
                  <li>We have a drive to succeed</li>
                  <li>We practice purposeful candor</li>
                  <li>We believe relationships matter</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>

    {% when 'history' %}

      <section>
        <div class="x-bg-[#f4f5f7]">
          <div class="x-max-w-[1400px] lg:x-mx-auto x-flex x-flex-col x-gap-[20px] x-p-[30px] md:x-p-[70px] lg:x-p-[80px]">
            <div class="x-flex x-flex-col x-gap-[40px]">
              <div>
                <h1
                  class="x-mb-[10px] x-text-[28px] x-leading-[33px] md:x-text-[40px] md:x-leading-normal x-font-bold x-tracking-[-1px] x-text-black">
                  A history of leadership
                </h1>
                <div>
                  <p class="x-leading-[24px]">
                    Since Medline was founded by brothers Jim and Jon Mills in 1966, the company has been guided by leaders
                    who are relentlessly focused on bettering outcomes for our customers. It&apos;s a commitment that has made us
                    into a healthcare leader and one that continues today.
                  </p>
                </div>
              </div>
              <div class="x-grid x-grid-cols-1 md:x-grid-cols-2 lg:x-grid-cols-3 x-gap-y-[40px] md:x-gap-x-[40px]">
                <h1
                  class="x-text-[26px] md:x-text-[30px] x-text-kse x-leading-[24px] x-font-bold x-tracking-[-1px]">
                  See Medline&apos;s history timeline</h1>
                <h1
                  class="x-text-[26px] md:x-text-[30px] x-text-kse x-leading-[24px] x-font-bold x-tracking-[-1px]">
                  Meet our leadership team</h1>
                <h1
                  class="x-text-[26px] md:x-text-[30px] x-text-kse x-leading-[24px] x-font-bold x-tracking-[-1px]">
                  Hear from our customers</h1>
              </div>
            </div>
          </div>
        </div>
      </section>
      
    {% else %}
  {% endcase %}
{% endfor %}

<style>
  .culture-list li::marker {
    font-size: 18px;
  }
</style>

{% schema %}
  {
    "name": "About Us (KSE)",
    "settings": [],
    "blocks": [
      {
        "type": "hero_banner",
        "name": "Hero Banner",
        "settings": [
        ]
      },
      {
        "type": "cta_button",
        "name": "Call to Action Button",
        "settings": [
          {
            "type": "text",
            "id": "button_text",
            "label": "Button Text"
          },
          {
            "type": "url",
            "id": "button_url",
            "label": "Button URL"
          }
        ]
      },
      {
        "type": "challenges",
        "name": "Challenges",
        "settings": [
        ]
      },
      {
        "type": "solutions",
        "name": "Solutions",
        "settings": [
        ]
      },
      {
        "type": "difference",
        "name": "Difference",
        "settings": [
        ]
      },
      {
        "type": "integration",
        "name": "Integration",
        "settings": [
        ]
      },
      {
        "type": "culture",
        "name": "Culture",
        "settings": [
        ]
      },
      {
        "type": "history",
        "name": "History",
        "settings": [
        ]
      }
    ]
  }
{% endschema %}