{% for block in section.blocks %}
  {% case block.type %}
    {% when 'hero_banner' %}

      <section>
        <div class="x-bg-kse x-border-t-[2px] x-border-white">
          <div class="x-flex x-flex-col md:x-flex-row md:x-pb-[50px] md:x-pt-[50px] x-max-w-[1400px] lg:x-mx-auto">
            <div
              class="x-text-white x-p-[30px] lg:x-py-[40px] lg:x-pt-[76px] lg:x-px-[80px]  lg:x-pr-[128px] x-pb-[0px] md:x-w-[50%] lg:x-w-[60%]">
              <h2 class="x-text-[18px] x-uppercase x-font-bold x-leading-[1.7] x-mb-[10px] x-text-white">
                About Us
              </h2>
              <h1
                class="x-text-[36px] md:x-text-[46px] x-leading-[42px] md:x-leading-[50px] x-font-bold x-mb-[10px] x-text-white">
                Global suppliers of local service
              </h1>
              <p class="x-text-[20px] md:x-text-[24px] x-leading-[normal] md:x-leading-[30px] x-mb-[20px]">
                KSE is your personal linen partner, dedicated to providing you with the finest quality linens for every need. 
                We offer a seamless experience tailored to your preferences.
              </p>
            </div>
            <div class="x-pl-[30px] x-pt-[20px] md:x-p-[0px] md:x-w-[50%] lg:x-w-[50%]">
              <img class="md:x-hidden x-rounded-tl-[50px]" src="{{ 'ABOUT-US-PIC.jpg' | asset_url }}" alt="" width="100%" height="100%">
              <img class="x-hidden md:x-block  x-rounded-[50px]" src="{{ 'ABOUT-US-PIC.jpg' | asset_url }}" alt="" width="100%" height="250px">
            </div>
          </div>
        </div>
      </section>

    {% when 'cta_button' %}

      <section>
        <div>
          <div class="x-bg-[#c2172e]">
            <a href="{{ block.settings.button_url }}"
              class="x-w-full x-max-w-[1400px] lg:x-mx-auto x-flex x-items-center x-gap-[16px] x-text-white x-p-[24px] x-px-[30px] md:x-py-[20px] md:x-px-[70px] lg:x-px-[80px]">
              <h1 class="x-text-[30px] x-font-bold x-leading-[1.2] x-tracking-[-1px] x-w-[278px] md:x-w-auto x-text-white">
                {{ block.settings.button_text }}
              </h1>
              <i class='bx bxs-right-arrow-circle x-text-[56px]'></i>
            </a>
          </div>
        </div>
      </section>

    {% when 'challenges' %}

			<section>
				<div>
					<div class="x-max-w-[1400px] lg:x-mx-auto x-flex x-flex-col x-gap-[40px] x-p-[30px] md:x-p-[70px] lg:x-p-[80px]">
						<div class="x-flex x-flex-col">
							<h1
								class="x-mb-[10px] x-text-center x-text-[28px] x-leading-[33px] md:x-text-[40px] md:x-leading-normal x-font-bold x-tracking-[-1px]">
								OUR CORE VALUES
							</h1>
						</div>

						<div class="values-card-container x-flex x-flex-col md:x-flex-row x-gap-[30px]">
							<div class="values-card">
								<div class="x-leading-[24px] x-mb-[10px] x-text-center">
									<div class="x-h-[76px]">
										<img class="x-h-full x-mx-auto" src="{{ 'PARTNERSHIP.png' |  asset_url }}" alt="" width="auto"
											height="100%">
									</div>
									<h2 class="x-my-[10px] x-mt-[20px] x-text-[26px] md:x-text-[30px] x-leading-[28px] md:x-leading-normal x-font-bold x-tracking-[-1px] x-uppercase">Partnership</h2>
									<p class="x-leading-[24px]">A good supplier helps you rest easy, so we serve as an extension of your team to carry the full weight of
										the sourcing process</p>
								</div>
							</div>
							<div class="values-card">
								<div class="x-leading-[24px] x-mb-[10px] x-text-center">
									<div class="x-h-[76px]">
										<img class="x-h-full x-mx-auto" src="{{ 'VALUE.png' |  asset_url }}" alt="" width="auto"
											height="100%">
									</div>
									<h2 class="x-my-[10px] x-mt-[20px] x-text-[26px] md:x-text-[30px] x-leading-[28px] md:x-leading-normal x-font-bold x-tracking-[-1px] x-uppercase">Value</h2>
									<p class="x-leading-[24px]">Just as important as saving you money is saving you time and man-hours with quality that lasts. That&apos;s why we strive for both</p>
								</div>
							</div>
							<div class="values-card">
								<div class="x-leading-[24px] x-mb-[10px] x-text-center">
									<div class="x-h-[76px]">
										<img class="x-h-full x-mx-auto" src="{{ 'HAPPINESS.png' |  asset_url }}" alt="" width="auto"
											height="100%">
									</div>
									<h2 class="x-my-[10px] x-mt-[20px] x-text-[26px] md:x-text-[30px] x-leading-[28px] md:x-leading-normal x-font-bold x-tracking-[-1px] x-uppercase">Happiness</h2>
									<p class="x-leading-[24px]">When we care, you feel it. And when you care, they feel it. We are proud that the cycle of satisfaction starts at KSE</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

    {% when 'solutions' %}

      <section>
        <div class="x-text-white x-bg-kse">
          <div
            class="x-max-w-[1400px] lg:x-mx-auto x-flex x-flex-col x-gap-[40px] lg:x-gap-[20px] x-p-[30px] md:x-p-[70px] lg:x-p-[80px]">
            <div class="x-flex x-flex-col">
              <h2
                class="x-mb-[10px] x-text-[14px] md:x-text-[18px] lg:x-text-[18px] x-leading-[24px] x-font-bold x-text-white">
                OUR PROCESS
              </h2>
              <h1
                class="x-text-[28px] x-leading-[33px] md:x-text-[40px] md:x-leading-normal x-font-bold x-tracking-[-1px] x-text-white">
                Our ordering process is designed to be simple, efficient, and hassle-free. Here’s how it works:
              </h1>
            </div>
            <img class="x-hidden lg:x-block" src="{{ 'OUR-PROCESS-GRAPHIC.png' | asset_url }}" alt="" width="100%" height="100%">
            <div class="x-grid x-grid-cols-1 md:x-grid-cols-2 lg:x-grid-cols-3 x-gap-y-[20px] x-gap-x-[36px]">
              <div class="x-text-center">
                <img class="x-mx-auto lg:x-hidden" src="{{ 'world_class_products_image.svg' | asset_url }}" alt="" width="100%" height="100%">
                <h1
                  class="x-my-[10px] x-mt-[20px] x-text-[26px] md:x-text-[30px] x-text-[#f0a5af] x-leading-[28px] md:x-leading-normal x-font-bold x-tracking-[-1px]">
                  Place Your Order</h1>
                <p class="x-leading-[24px]">Browse our wide range of products categorized for your convenience or reach out to us for a personalized quote. 
									Our team will provide pricing details and recommendations based on your requirements.
									</p>
              </div>
              <div class="x-text-center">
                <img class="x-mx-auto lg:x-hidden" src="{{ 'supply_chain_resillience_image.svg' | asset_url }}" alt="" width="100%" height="100%">
                <h1
                  class="x-my-[10px] x-mt-[20px] x-text-[26px] md:x-text-[30px] x-text-[#f0a5af] x-leading-[28px] md:x-leading-normal x-font-bold x-tracking-[-1px]">
                  Processing & Customization</h1>
                <p class="x-leading-[24px]">We carefully prepare your linens, ensuring the highest quality with any customizations you’ve requested, including
									your packing slips and branding.
									</p>
              </div>
              <div class="x-text-center">
                <img class="x-mx-auto lg:x-hidden" src="{{ 'clinical_practice_image.svg' | asset_url }}" alt="" width="100%" height="100%">
                <h1
                  class="x-my-[10px] x-mt-[20px] x-text-[26px] md:x-text-[30px] x-text-[#f0a5af] x-leading-[28px] md:x-leading-normal x-font-bold x-tracking-[-1px]">
                  Delivery & Tracking</h1>
                <p class="x-leading-[24px]">Your order is shipped promptly, with tracking details provided so you can monitor its progress. Same-day shipping is
									offered for orders placed before 12PM.
									</p>
              </div>
            </div>
          </div>
        </div>
      </section>

    {% when 'difference' %}

      <section>
        <div>
          <div
            class="x-max-w-[1400px] lg:x-mx-auto x-flex x-flex-col x-gap-[40px] lg:x-gap-[20px] x-p-[30px] md:x-p-[70px] md:x-pb-[0px] lg:x-p-[80px]">
            <div class="x-flex x-flex-col md:x-flex-col-reverse lg:x-flex-row-reverse">
              <div class="lg:x-w-1/2 md:x-mx-auto">
                <img src="{{ 'WAREHOUSE-MAP.png' | asset_url }}" alt="" width="850px" height="850px">
              </div>
              <div class="lg:x-w-1/2 lg:x-flex x-flex-col x-justify-center lg:x-py-[80px] lg:x-pr-[80px]">
                <h2
                  class="x-mb-[10px] x-text-[14px] md:x-text-[18px] lg:x-text-[18px] x-leading-[24px] x-font-bold x-text-black x-uppercase">
                  OUR LOCATIONS
                </h2>
                <h1
                  class="x-mb-[10px] x-text-[28px] x-leading-[33px] md:x-text-[40px] md:x-leading-normal x-font-bold x-tracking-[-1px] x-text-black">
                  Proudly shipping high-quality linens nationwide from our dedicated warehouses. 
                </h1>
              </div>
            </div>
          </div>
        </div>
      </section>

    {% when 'integration' %}

      <section>
        <div class="x-bg-[#f4f5f7]">
          <div
            class="x-max-w-[1400px] lg:x-mx-auto x-flex x-flex-col x-gap-[40px] lg:x-gap-[20px] x-p-[30px] md:x-p-[70px] lg:x-p-[80px]">
            <div class="x-flex x-flex-col x-gap-[40px]">
              <div>
                <h2
                  class="x-mb-[10px] x-text-[14px] md:x-text-[18px] lg:x-text-[18px] x-leading-[24px] x-font-bold x-text-black x-uppercase">
                  Who we serve
                </h2>
                <h1
                  class="x-mb-[10px] x-text-[28px] x-leading-[33px] md:x-text-[40px] md:x-leading-normal x-font-bold x-tracking-[-1px] x-text-black">
                  Serving you across 10 industries, the supplier behind the suppliers.
                </h1>
								<div class="x-mb-[10px]">
                  <div class="x-w-full x-aspect-[1.5/1] x-bg-cover x-bg-center x-bg-no-repeat x-max-h-[400px] x-rounded-[30px]" style="background-image: url({{ 'pillow.jpg' | asset_url }})">
										&apos;
									</div>
                  <h1
                    class="x-my-[10px] x-text-[26px] md:x-text-[30px] x-text-kse x-leading-normal x-font-bold x-tracking-[-1px]">
                    Whatever your needs, we&apos;re the only contact you need</h1>
                </div>
                <div>
									<div class="x-flex x-flex-col x-gap-[8px]">
										<p class="x-leading-[24px]">
											KSE Suppliers is positioned in support of your business. Whether you&apos;re a direct facility supplier or run your own
											laundry rental service, we are your single point of contact for reusable commercial linens and premium textiles—and
											totally personalized service.
										</p>
										<p class="x-leading-[24px]">
											Enjoy deep savings on reusable materials and garments of all shapes and sizes, including linens, towels, bedding,
											nursing garments, cleaning supplies and other institutional textiles.
										</p>
										<p class="x-leading-[24px]">
											We at KSE are forward-thinking and progressive. We realize that industries evolve and needs change. If you think you
											may benefit from our Suppliers, please contact us. We&apos;ll be happy to advise you.
										</p>
									</div>
                </div>
              </div>
              <div class="x-grid x-grid-cols-1 md:x-grid-cols-3 x-gap-y-[40px] x-gap-x-[40px]">
								<div class="values-card">
									<div class="x-leading-[24px] x-mb-[10px] x-text-center">
										<div class="x-h-[220px]">
											<img class="x-h-full x-mx-auto x-rounded-[30px]" src="{{ 'HOTES-AND-MOTELS.jpg' |  asset_url }}" alt="" width="350"
												height="100%">
										</div>
										<h2 class="x-text-kse x-my-[10px] x-mt-[20px] x-text-[26px] md:x-text-[30px] x-leading-[28px] md:x-leading-normal x-font-bold x-tracking-[-1px] x-uppercase">Hotels & Motels</h2>
										<p class="x-leading-[24px] md:x-text-start">We offer affordable bedding and bath solutions for budget motels, luxury suites, and everything in between</p>
									</div>
								</div>
								<div class="values-card">
									<div class="x-leading-[24px] x-mb-[10px] x-text-center">
										<div class="x-h-[220px]">
											<img class="x-h-full x-mx-auto x-rounded-[30px]" src="{{ 'HOSPITALS-AND-MED.jpg' |  asset_url }}" alt="" width="350"
												height="100%">
										</div>
										<h2 class="x-text-kse x-my-[10px] x-mt-[20px] x-text-[26px] md:x-text-[30px] x-leading-[28px] md:x-leading-normal x-font-bold x-tracking-[-1px] x-uppercase">Hospitals & Medical Centers</h2>
										<p class="x-leading-[24px] md:x-text-start">For healthcare operators we offer access to premium goods for clothing patients and maintaining safe, sanitary facilities</p>
									</div>
								</div>
								<div class="values-card">
									<div class="x-leading-[24px] x-mb-[10px] x-text-center">
										<div class="x-h-[220px]">
											<img class="x-h-full x-mx-auto x-rounded-[30px]" src="{{ 'NURSING-HOME.jpg' |  asset_url }}" alt="" width="350"
												height="100%">
										</div>
										<h2 class="x-text-kse x-my-[10px] x-mt-[20px] x-text-[26px] md:x-text-[30px] x-leading-[28px] md:x-leading-normal x-font-bold x-tracking-[-1px] x-uppercase">Nursing & Group Homes</h2>
										<p class="x-leading-[24px] md:x-text-start">Supply independent and assisted living residences with soft, resilient bedding and assorted products at unbeatable prices</p>
									</div>
								</div>
								<div class="values-card">
									<div class="x-leading-[24px] x-mb-[10px] x-text-center">
										<div class="x-h-[220px]">
											<img class="x-h-full x-mx-auto x-rounded-[30px]" src="{{ 'CORRECTIONAL-FACILITIES.jpg' |  asset_url }}" alt="" width="350"
												height="100%">
										</div>
										<h2 class="x-text-kse x-my-[10px] x-mt-[20px] x-text-[26px] md:x-text-[30px] x-leading-[28px] md:x-leading-normal x-font-bold x-tracking-[-1px] x-uppercase">Correctional Facilities</h2>
										<p class="x-leading-[24px] md:x-text-start">Economy meets durability with our vast selection of sheets, linens, and other essential detention supplies</p>
									</div>
								</div>
								<div class="values-card">
									<div class="x-leading-[24px] x-mb-[10px] x-text-center">
										<div class="x-h-[220px]">
											<img class="x-h-full x-mx-auto x-rounded-[30px]" src="{{ 'RESTOS-AND-BARS.jpg' |  asset_url }}" alt="" width="350"
												height="100%">
										</div>
										<h2 class="x-text-kse x-my-[10px] x-mt-[20px] x-text-[26px] md:x-text-[30px] x-leading-[28px] md:x-leading-normal x-font-bold x-tracking-[-1px] x-uppercase">Restaurants & Bars</h2>
										<p class="x-leading-[24px] md:x-text-start">From the kitchen to the dining room, outfit an entire establishment with reusable napkins, aprons, towels and tablecloths</p>
									</div>
								</div>
								<div class="values-card">
									<div class="x-leading-[24px] x-mb-[10px] x-text-center">
										<div class="x-h-[220px]">
											<img class="x-h-full x-mx-auto x-rounded-[30px]" src="{{ 'RESORTS.jpg' |  asset_url }}" alt="" width="350"
												height="100%">
										</div>
										<h2 class="x-text-kse x-my-[10px] x-mt-[20px] x-text-[26px] md:x-text-[30px] x-leading-[28px] md:x-leading-normal x-font-bold x-tracking-[-1px] x-uppercase">Resorts & Country Clubs</h2>
										<p class="x-leading-[24px] md:x-text-start">Complement 5-star service with luxury linens and other quality textiles at competitive wholesale prices</p>
									</div>
								</div>
								<div class="values-card">
									<div class="x-leading-[24px] x-mb-[10px] x-text-center">
										<div class="x-h-[220px]">
											<img class="x-h-full x-mx-auto x-rounded-[30px]" src="{{ 'COMMERCIAL-LAUNDRY.jpg' |  asset_url }}" alt="" width="350"
												height="100%">
										</div>
										<h2 class="x-text-kse x-my-[10px] x-mt-[20px] x-text-[26px] md:x-text-[30px] x-leading-[28px] md:x-leading-normal x-font-bold x-tracking-[-1px] x-uppercase">Commercial Launderers</h2>
										<p class="x-leading-[24px] md:x-text-start">Whether you wash for restaurants, hotels, or small local businesses, we have the most efficient, easy-care textile optionst</p>
									</div>
								</div>
								<div class="values-card">
									<div class="x-leading-[24px] x-mb-[10px] x-text-center">
										<div class="x-h-[220px]">
											<img class="x-h-full x-mx-auto x-rounded-[30px]" src="{{ 'TRANSITIONAL-HOUSING.png' |  asset_url }}" alt="" width="350"
												height="100%">
										</div>
										<h2 class="x-text-kse x-my-[10px] x-mt-[20px] x-text-[26px] md:x-text-[30px] x-leading-[28px] md:x-leading-normal x-font-bold x-tracking-[-1px] x-uppercase">Transitional Housing</h2>
										<p class="x-leading-[24px] md:x-text-start">Discover economical solutions for keeping the needy safe, warm, clean, and comfortable in public shelters</p>
									</div>
								</div>
								<div class="values-card">
									<div class="x-leading-[24px] x-mb-[10px] x-text-center">
										<div class="x-h-[220px]">
											<img class="x-h-full x-mx-auto x-rounded-[30px]" src="{{ 'INDUSTRIAL.jpg' |  asset_url }}" alt="" width="350"
												height="100%">
										</div>
										<h2 class="x-text-kse x-my-[10px] x-mt-[20px] x-text-[26px] md:x-text-[30px] x-leading-[28px] md:x-leading-normal x-font-bold x-tracking-[-1px] x-uppercase">Industrial Companies</h2>
										<p class="x-leading-[24px] md:x-text-start">When heavy-duty jobs require durable supplies, rely on KSE to meet all your complex textile needs</p>
									</div>
								</div>
              </div>
            </div>
          </div>
        </div>
      </section>

    {% else %}
  {% endcase %}
{% endfor %}

<style>
  .culture-list li::marker {
    font-size: 18px;
  }
</style>

{% schema %}
  {
    "name": "About Us (KSE)",
    "settings": [],
    "blocks": [
      {
        "type": "hero_banner",
        "name": "Hero Banner",
        "settings": [
        ]
      },
      {
        "type": "cta_button",
        "name": "Call to Action Button",
        "settings": [
          {
            "type": "text",
            "id": "button_text",
            "label": "Button Text"
          },
          {
            "type": "url",
            "id": "button_url",
            "label": "Button URL"
          }
        ]
      },
      {
        "type": "challenges",
        "name": "Challenges",
        "settings": [
        ]
      },
      {
        "type": "solutions",
        "name": "Solutions",
        "settings": [
        ]
      },
      {
        "type": "difference",
        "name": "Difference",
        "settings": [
        ]
      },
      {
        "type": "integration",
        "name": "Integration",
        "settings": [
        ]
      }
    ]
  }
{% endschema %}