<div>
  <div class="x-w-full x-h-[80px] x-bg-[#951828] x-flex x-justify-center x-items-center">
    <div class="x-text-[20px] x-text-[#fff] x-text-center">Keep Customers Sleeping Happy</div>
  </div>
</div>

<div class="banner-bg">
  <div class="x-w-full x-h-auto x-flex x-flex-col x-justify-center x-items-center x-py-[20px]">
    <img src="{{ 'weserve.png' | asset_url }}" alt="we serve" class="x-w-auto x-h-auto" width="70" height="400">
  </div>
</div>

<div>
  <div class="x-w-full x-h-[20px] x-flex x-justify-center x-items-center">
    <div class="x-text-[20px] x-text-black x-text-center">SERVING YOU ACROSS 10 INDUSTRIES</div>
  </div>
</div>

<div class="banner-bg">
  <div class="x-w-full x-h-auto x-flex x-flex-col x-justify-center x-items-center x-py-[20px]">
    <img src="{{ 'pillow.jpg' | asset_url }}" alt="pillow" class="x-w-auto x-h-auto" width="500" height="400">
  </div>
</div>

<div>
  <div class="x-w-full x-h-[80px] x-bg-[#951828] x-flex x-justify-center x-items-center">
    <div class="x-text-[10px] x-text-[#fff] x-text-center">WHATEVER YOUR NEEDS, WE'RE THE ONLY CONTACT YOU NEED</div>
  </div>
</div>

<div>
  <div class="x-w-full x-h-[20px] x-flex x-justify-center x-items-center">
    <div class="x-text-[20px] x-text-black x-text-center">THE SUPPLIER BEHIND THE SUPPLIES</div>
  </div>
</div>

<div class="x-w-full x-p-4 x-text-justify">
  <p class="x-mb-6">
    KSE Suppliers is positioned in support of your business. Whether you’re a direct facility supplier or run your own
    laundry rental service, we are your single point of contact for reusable commercial linens and premium textiles—and
    totally personalized service.
  </p>
  <p class="x-mb-6">
    Enjoy deep savings on reusable materials and garments of all shapes and sizes, including linens, towels, bedding,
    nursing garments, cleaning supplies, and other institutional textiles.
  </p>
  <p class="x-mb-6">
    We at KSE are forward-thinking and progressive. We realize that industries evolve and needs change. If you think you
    may benefit from our Suppliers, please contact us. We’ll be happy to advise you.
  </p>
</div>

<div class="x-text-center ">
  <div class="banner-bg">
    <div class="x-w-full x-h-auto x-flex x-flex-col x-justify-center x-items-center x-py-[20px]">
      <img src="{{ 'weserve.png' | asset_url }}" alt="we serve" class="x-w-auto x-h-auto" width="70" height="400">
    </div>
    <h2>HOTELS & MOTELS</h2>
    <p>We offer affordable bedding and bath solutions for budget motels, luxury suites, and everything in between</p>
  </div>

  <div class="banner-bg">
    <div class="x-w-full x-h-auto x-flex x-flex-col x-justify-center x-items-center x-py-[20px]">
      <img src="{{ 'weserve.png' | asset_url }}" alt="we serve" class="x-w-auto x-h-auto" width="70" height="400">
    </div>
    <h2>HOSPITAL & MEDICAL CENTERS</h2>
    <p>
      For healthcare operators we offer access to premium goods for clothing patients and maintaining safe, sanitary
      facilities
    </p>
  </div>

  <div class="banner-bg">
    <div class="x-w-full x-h-auto x-flex x-flex-col x-justify-center x-items-center x-py-[20px]">
      <img src="{{ 'weserve.png' | asset_url }}" alt="we serve" class="x-w-auto x-h-auto" width="70" height="400">
    </div>
    <h2>NURSING & GROUP HOMES</h2>
    <p>
      Supply independent and assisted living residences with soft, resilient bedding and assorted products at unbeatable
      prices
    </p>
  </div>

  <div class="banner-bg">
    <div class="x-w-full x-h-auto x-flex x-flex-col x-justify-center x-items-center x-py-[20px]">
      <img src="{{ 'weserve.png' | asset_url }}" alt="we serve" class="x-w-auto x-h-auto" width="70" height="400">
    </div>
    <h2>CORRECTIONAL FACILITIES</h2>
    <p>Economy meets durability with our vast selection of sheets, linens, and other essential detention supplies</p>
  </div>

  <div class="banner-bg">
    <div class="x-w-full x-h-auto x-flex x-flex-col x-justify-center x-items-center x-py-[20px]">
      <img src="{{ 'weserve.png' | asset_url }}" alt="we serve" class="x-w-auto x-h-auto" width="70" height="400">
    </div>
    <h2>RESTAURANT & BARS</h2>
    <p>
      From the kitchen to the dining room, outfit an entire establishment with reusable napkins, aprons, towels and
      tablecloths
    </p>
  </div>

  <div class="banner-bg">
    <div class="x-w-full x-h-auto x-flex x-flex-col x-justify-center x-items-center x-py-[20px]">
      <img src="{{ 'weserve.png' | asset_url }}" alt="we serve" class="x-w-auto x-h-auto" width="70" height="400">
    </div>
    <h2>RESORTS & COUNTRY CLUBS</h2>
    <p>Complement 5-star service with luxury linens and other quality textiles at competitive wholesale prices</p>
  </div>

  <div class="banner-bg">
    <div class="x-w-full x-h-auto x-flex x-flex-col x-justify-center x-items-center x-py-[20px]">
      <img src="{{ 'weserve.png' | asset_url }}" alt="we serve" class="x-w-auto x-h-auto" width="70" height="400">
    </div>
    <h2>COMMERCIAL LAUNDERERS</h2>
    <p>
      Whether you wash for restaurants, hotels, or small local businesses, we have the most efficient, easy-care textile
      options
    </p>
  </div>

  <div class="banner-bg">
    <div class="x-w-full x-h-auto x-flex x-flex-col x-justify-center x-items-center x-py-[20px]">
      <img src="{{ 'weserve.png' | asset_url }}" alt="we serve" class="x-w-auto x-h-auto" width="70" height="400">
    </div>
    <h2>TRANSITIONAL HOUSING</h2>
    <p>Discover economical solutions for keeping the needy safe, warm, clean, and comfortable in public shelters</p>
  </div>

  <div class="banner-bg">
    <div class="x-w-full x-h-auto x-flex x-flex-col x-justify-center x-items-center x-py-[20px]">
      <img src="{{ 'weserve.png' | asset_url }}" alt="we serve" class="x-w-auto x-h-auto" width="70" height="400">
    </div>
    <h2>INDUSTRIAL COMPANIES</h2>
    <p>When heavy-duty jobs require durable supplies, rely on KSE to meet all your complex textile needs</p>
  </div>
</div>

<div class="banner-bg">
  <button class="x-bg-[#9e0b0f] x-text-white x-h-[50px] x-w-[200px] x-text-[16px] x-rounded-[4px]">
    BROWSE PRODUCTS
  </button>
</div>

<style>
  .banner-bg {
    padding: 10px;
    text-align: center;
  }
</style>
