<div class="x-mx-auto x-px-[16px]">
  <!-- Adding margin auto for centering and padding for space on sides -->
  <div class="x-w-full x-h-[50px] x-bg-[#951828] x-flex x-justify-center x-items-center x-rounded-[4px]">
    <div class="x-text-[20px] x-text-[#fff] x-text-center">Keep Customers Sleeping Happy</div>
  </div>
</div>

<div class="banner-bg x-mx-auto x-px-[16px]">
  <div class="x-w-full x-h-auto x-flex x-flex-col x-justify-center x-items-center x-py-[20px]">
    <img
      src="{{ 'weserve.png' | asset_url }}"
      alt="we serve"
      class="x-w-[70px] x-h-[100px] md:x-w-[140px] md:x-h-[120px] lg:x-w-[200px] lg:x-h-[300px]"
      width="70"
      height="400"
    >
  </div>
</div>

<div class="x-mx-auto x-px-[16px]">
  <div class="x-w-full x-h-[20px] x-flex x-justify-center x-items-center">
    <div class="x-text-[18px] x-text-black x-text-center ">SERVING YOU ACROSS 10 INDUSTRIES</div>
  </div>
</div>

<div class="banner-bg x-mx-auto x-px-[16px]">
  <div class="x-w-full x-h-auto x-flex x-flex-col x-justify-center x-items-center x-py-[20px]">
    <img
      src="{{ 'pillow.jpg' | asset_url }}"
      alt="pillow"
      class="x-w-[500px] x-h-[400px] md:x-w-[800px] md:x-h-[500px] lg:x-w-[800px] lg:x-h-[500px]"
      width="500"
      height="400"
    >
  </div>
</div>

<div class="x-mx-auto x-px-[16px] x-mb-6">
  <div class="x-w-full x-h-[80px] x-bg-[#951828] x-flex x-justify-center x-items-center x-rounded-[4px]">
    <div class="x-text-[15px] md:x-text-[20px] lg:x-text-[25px] x-text-[#fff] x-text-center ">
      WHATEVER YOUR NEEDS, WE'RE THE ONLY CONTACT YOU NEED
    </div>
  </div>
</div>

<div class="x-mx-auto x-px-[16px] x-mb-6">
  <div class="x-w-full x-h-auto x-flex x-justify-center x-items-center">
    <div class="x-text-[25px] md:x-text-[30px] lg:x-text-[35px] x-text-black x-text-center ">
      THE SUPPLIER BEHIND THE SUPPLIES
    </div>
  </div>
</div>

<div class="x-w-full x-px-[16px] x-text-justify x-mx-auto x-text-[18px]">
  <p class="x-mb-6 x-max-w-[400px] md:x-max-w-[800px] x-mx-auto">
    KSE Suppliers is positioned in support of your business. Whether you’re a direct facility supplier or run your own
    laundry rental service, we are your single point of contact for reusable commercial linens and premium textiles—and
    totally personalized service.
  </p>
  <p class="x-mb-6 x-max-w-[400px] md:x-max-w-[800px] x-mx-auto">
    Enjoy deep savings on reusable materials and garments of all shapes and sizes, including linens, towels, bedding,
    nursing garments, cleaning supplies, and other institutional textiles.
  </p>
  <p class="x-mb-6 x-max-w-[400px] md:x-max-w-[800px] x-mx-auto">
    We at KSE are forward-thinking and progressive. We realize that industries evolve and needs change. If you think you
    may benefit from our Suppliers, please contact us. We’ll be happy to advise you.
  </p>
</div>

<div class="x-text-center x-mx-auto x-px-[16px]">
  <div class="banner-bg">
    <div class="x-w-full x-h-auto x-flex x-flex-col x-justify-center x-items-center x-py-[20px]">
      <img
        src="{{ 'icon4.png' | asset_url }}"
        alt="we serve"
        class="x-w-[70px] x-h-[100px] md:x-w-[140px] md:x-h-[120px] lg:x-w-[200px] lg:x-h-[300px]"
        width="70"
        height="400"
      >
    </div>
    <h1 class=" x-text-[#951828] x-text-4xl md:x-text-5xl x-mb-3">HOTELS & MOTELS</h1>
    <p class="x-max-w-[300px] md:x-max-w-[500px] x-mx-auto">
      We offer affordable bedding and bath solutions for budget motels, luxury suites, and everything in between
    </p>
  </div>

  <div class="banner-bg x-mx-auto x-px-[16px] ">
    <div class="x-w-full x-h-auto x-flex x-flex-col x-justify-center x-items-center x-py-[20px] ">
      <img
        src="{{ 'icon5.png' | asset_url }}"
        alt="we serve"
        class="x-w-[70px] x-h-[100px] md:x-w-[140px] md:x-h-[120px] lg:x-w-[200px] lg:x-h-[300px]"
        width="70"
        height="400"
      >
    </div>
    <h1 class=" x-text-[#951828] x-text-4xl md:x-text-5xl x-mb-3">HOSPITAL & MEDICAL CENTERS</h1>
    <p class="x-max-w-[300px] md:x-max-w-[500px] x-mx-auto">
      For healthcare operators we offer access to premium goods for clothing patients and maintaining safe, sanitary
      facilities
    </p>
  </div>

  <div class="banner-bg x-mx-auto x-px-[16px]">
    <div class="x-w-full x-h-auto x-flex x-flex-col x-justify-center x-items-center x-py-[20px]">
      <img
        src="{{ 'icon6.png' | asset_url }}"
        alt="we serve"
        class="x-w-[70px] x-h-[100px] md:x-w-[140px] md:x-h-[120px] lg:x-w-[200px] lg:x-h-[300px]"
        width="70"
        height="400"
      >
    </div>
    <h1 class=" x-text-[#951828] x-text-4xl md:x-text-5xl x-mb-3">NURSING & GROUP HOMES</h1>
    <p class="x-max-w-[300px] md:x-max-w-[500px] x-mx-auto">
      Supply independent and assisted living residences with soft, resilient bedding and assorted products at unbeatable
      prices
    </p>
  </div>

  <div class="banner-bg x-mx-auto x-px-[16px]">
    <div class="x-w-full x-h-auto x-flex x-flex-col x-justify-center x-items-center x-py-[20px]">
      <img
        src="{{ 'icon7.png' | asset_url }}"
        alt="we serve"
        class="x-w-[70px] x-h-[100px] md:x-w-[140px] md:x-h-[120px] lg:x-w-[200px] lg:x-h-[300px]"
        width="70"
        height="400"
      >
    </div>
    <h1 class=" x-text-[#951828] x-text-4xl md:x-text-5xl x-mb-3">CORRECTIONAL FACILITIES</h1>
    <p class="x-max-w-[300px] md:x-max-w-[500px] x-mx-auto">
      Economy meets durability with our vast selection of sheets, linens, and other essential detention supplies
    </p>
  </div>

  <div class="banner-bg x-mx-auto x-px-[16px]">
    <div class="x-w-full x-h-auto x-flex x-flex-col x-justify-center x-items-center x-py-[20px]">
      <img
        src="{{ 'icon8.png' | asset_url }}"
        alt="we serve"
        class="x-w-[70px] x-h-[100px] md:x-w-[140px] md:x-h-[120px] lg:x-w-[200px] lg:x-h-[300px]"
        width="70"
        height="400"
      >
    </div>
    <h1 class=" x-text-[#951828] x-text-4xl md:x-text-5xl x-mb-3">RESTAURANT & BARS</h1>
    <p class="x-max-w-[300px] md:x-max-w-[500px] x-mx-auto">
      From the kitchen to the dining room, outfit an entire establishment with reusable napkins, aprons, towels and
      tablecloths
    </p>
  </div>

  <div class="banner-bg x-mx-auto x-px-[16px]">
    <div class="x-w-full x-h-auto x-flex x-flex-col x-justify-center x-items-center x-py-[20px]">
      <img
        src="{{ 'icon9.png' | asset_url }}"
        alt="we serve"
        class="x-w-[70px] x-h-[100px] md:x-w-[140px] md:x-h-[120px] lg:x-w-[200px] lg:x-h-[300px]"
        width="70"
        height="400"
      >
    </div>
    <h1 class=" x-text-[#951828] x-text-4xl md:x-text-5xl x-mb-3">RESORTS & COUNTRY CLUBS</h1>
    <p class="x-max-w-[300px] md:x-max-w-[500px] x-mx-auto">
      Complement 5-star service with luxury linens and other quality textiles at competitive wholesale prices
    </p>
  </div>

  <div class="banner-bg x-mx-auto x-px-[16px]">
    <div class="x-w-full x-h-auto x-flex x-flex-col x-justify-center x-items-center x-py-[20px]">
      <img
        src="{{ 'icon10.png' | asset_url }}"
        alt="we serve"
        class="x-w-[70px] x-h-[100px] md:x-w-[140px] md:x-h-[120px] lg:x-w-[200px] lg:x-h-[300px]"
        width="70"
        height="400"
      >
    </div>
    <h1 class=" x-text-[#951828] x-text-4xl md:x-text-5xl x-mb-3">COMMERCIAL LAUNDERERS</h1>
    <p class="x-max-w-[300px] md:x-max-w-[500px] x-mx-auto">
      Whether you wash for restaurants, hotels, or small local businesses, we have the most efficient, easy-care textile
      options
    </p>
  </div>

  <div class="banner-bg x-mx-auto x-px-[16px]">
    <div class="x-w-full x-h-auto x-flex x-flex-col x-justify-center x-items-center x-py-[20px]">
      <img
        src="{{ 'icon11.png' | asset_url }}"
        alt="we serve"
        class="x-w-[70px] x-h-[100px] md:x-w-[140px] md:x-h-[120px] lg:x-w-[200px] lg:x-h-[300px]"
        width="70"
        height="400"
      >
    </div>
    <h1 class=" x-text-[#951828] x-text-4xl md:x-text-5xl x-mb-3">TRANSITIONAL HOUSING</h1>
    <p class="x-max-w-[300px] md:x-max-w-[500px] x-mx-auto">
      Discover economical solutions for keeping the needy safe, warm, clean, and comfortable in public shelters
    </p>
  </div>

  <div class="banner-bg x-mx-auto x-px-[16px]">
    <div class="x-w-full x-h-auto x-flex x-flex-col x-justify-center x-items-center x-py-[20px]">
      <img
        src="{{ 'icon12.png' | asset_url }}"
        alt="we serve"
        class="x-w-[70px] x-h-[100px] md:x-w-[140px] md:x-h-[120px] lg:x-w-[200px] lg:x-h-[300px]"
        width="70"
        height="400"
      >
    </div>
    <h1 class=" x-text-[#951828] x-text-4xl md:x-text-5xl x-mb-3">INDUSTRIAL COMPANIES</h1>
    <p class="x-max-w-[300px] md:x-max-w-[500px] x-mx-auto">
      When heavy-duty jobs require durable supplies, rely on KSE to meet all your complex textile needs
    </p>
  </div>
</div>

<div class="banner-bg x-mx-auto x-px-[16px]">
  <button class="x-bg-[#9e0b0f] x-text-white x-h-[50px] x-w-[200px] x-text-[16px] x-rounded-[4px]">
    BROWSE PRODUCTS
  </button>
</div>

<style>
  .banner-bg {
    padding: 10px;
    text-align: center;
  }
</style>
